<header>
  <nav class="navbar navbar-light bg-body-bg fixed-top pt-0 shadow">
    <div class="container-fluid bg-primary mb-2 baniere-nav">
      {% if app.user %}
        <h3 class="text-center w-100 text-font-colour">Bienvenue {{ app.user.email }}</h3>
      {% else %}
        <h3 class="text-center w-100 text-font-colour">Bienvenue</h3>
      {% endif %}
    </div>
    <div class="container-fluid d-flex flex-row justify-content-beetwen align-items-stretch">
      <div>
        <button class="navbar-toggler ms-3 me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="{{ asset('build/images/Wild.png') }}" alt="Logo wild series" class="nav-img ">
        </a>
      </div>
      <div class="me-5 d-md-flex flex-md-row justify-content-beetwen d-none ">
      {% if app.user %}
          <div class="bg-box rounded nav-box text-center py-1 shadow"><a href="{{ path('app_logout') }}" class="text-secondary text-decoration-none fw-bold fs-5">déconnexion</a></div>
      {% else %}
          <div class="me-2 bg-box rounded nav-box text-center py-1 shadow"><a href="{{ path('app_register')}}" class="text-secondary text-decoration-none fw-bold fs-5">s'inscrire</a></div>
          <div class="bg-box rounded nav-box text-center py-1 shadow"><a href="{{ path('app_login') }}" class="text-secondary text-decoration-none fw-bold fs-5">connexion</a></div>
      {% endif %}
        </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Wild series</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="me-5 d-flex flex-row justify-content-beetwen">
            {% if app.user %}
              {{ app.user.email }}
              <div class="bg-box rounded nav-box text-center py-1 ms-5 shadow">
                <a href="{{ path('app_logout') }}" class="text-secondary text-decoration-none fw-bold fs-5">déconnexion</a>
              </div>
            {% else %}
              <div class="me-1 bg-box rounded nav-box text-center py-1 ms-5 shadow">
                <a href="#" class="text-secondary text-decoration-none fw-bold fs-5">s'inscrire</a>
              </div>
              <div class="bg-box rounded nav-box text-center py-1 ms-5 shadow">
                <a href="{{ path('app_login') }}" class="text-secondary text-decoration-none fw-bold fs-5">connexion</a>
              </div>
            {% endif %}
          </div>
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('home_index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('program_index')}}">Program</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('category_index')}}">Categorie</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mon compte
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="nav-link ps-5 dropdown-item " href="/my-profile">Profil</a></li>
                <li><a class="nav-link ps-5 dropdown-item" href="#">Mes séries</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-2">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>