{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="media text-center">
            <img class="mr-3 h-25 w-25" src="{{ asset('build/images/' ~ program.poster)}} " alt="{{ program.title }}">
            <div class="media-body d-flex flex-column justify-content-beetwen align-items-center">
                <h1 class="mt-2">{{ program.title }}</h1>
                <p class="w-75">{{ program.synopsis }}</p>
                <p>Saison : <ul>
                    {% for season in program.seasons %}
                        <li><a href="/program/{{ program.id }}/season/{{ season.id }}">saison {{ season.number }}</a></li>
                    {% endfor %}
                </ul> </p>
                <p>Catégorie : {{ program.category.name }}</p>
            </div>
        </div>

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}