{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div>
        <div class="media text-center">
            <img class="mr-3 h-25 w-25" src="../../{{ images_dir }}/{{ program.poster }}" alt="{{ program.title }}">
            <div class="media-body d-flex flex-column justify-content-beetwen align-items-center">
                <h1 class="mt-2">{{ program.title }}</h1>
                <p><strong>Catégorie :</strong> {{ program.category.name }}</p>
                <p class="w-75">{{ program.synopsis }}</p>
                <strong>Saison : </strong>
                <ul class="list-unstyled">
                    {% for season in program.seasons %}
                        <li><a href="{{ path('program_season_show', { 'program_slug': program.slug, 'season_id': season.id }) }}" class="text-decoration-none">saison {{ season.number }}</a></li>
                    {% endfor %}
                </ul>

                <strong>Acteurs :</strong>
                <ul class="list-unstyled">
                    {% for actor in program.actors %}
                        <li><a href="{{ path('actor_show', {'id': actor.id}) }}" class="text-decoration-none">{{ actor.name }}</a></li>
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}